In [1]:
# pandas 数据结构
import pandas as pd

In [2]:
# 创建数据
df = pd.DataFrame(
    {
        '国家': ['中国', '美国', '日本'],
        '地区': ['亚洲', '北美', '亚洲'],
        '人口': [13.97, 3.28, 1.26],
        'GDP': [14.34, 21.43, 5.08]
    }
)

In [3]:
df

   国家  地区     人口    GDP
0  中国  亚洲  13.97  14.34
1  美国  北美   3.28  21.43
2  日本  亚洲   1.26   5.08

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
# 生成Series
s = pd.Series(['a', 'b', 'c', 'd', 'e'])

In [6]:
s

0    a
1    b
2    c
3    d
4    e
dtype: object

In [7]:
type(s)

pandas.core.series.Series

In [8]:
# 数据类型
df = pd.read_excel('./team.xlsx')

In [9]:
df.dtypes

name    object
team    object
Q1       int64
Q2       int64
Q3       int64
Q4       int64
dtype: object

In [10]:
df.team.dtype

dtype('O')